<div class='flex flex-row justify-around items-center mt-4'>
  <h1 class='text-2xl font-bold'>Assortments</h1>
  <%= link_to 'New Assortment', new_assortment_path, class: 'text-red-300' %>
</div>

<div class='flex flex-col items-center mt-4'>
  <p class='w-2/3 explainer-text'>Group tags together with Assortments. Say you have a bunch of notes with a tag about your work in progress called <span class='tags'>#new-book</span>. You might also have a source associated with that tag, plus one called <span class='tags'>#read</span>, so you can add something to your reading list about <span class='tags'>#new-book</span>.</p>
  <br/>
  <p class='w-2/3 explainer-text'>Instead of just searching the <span class='tags'>#read</span> tag and digging for all the related <span class='tags'>#new-book</span> tags, you can sort both tags into a single Assortment. This assortment is automatically added to any writing project which uses the <span class='tags'>#new-book</span> tag.</p>
  <p class='w-2/3 explainer-text'>An assortment doesn't have to be a project. Maybe you're trying to #learn something, or want to learn a lot of different things. You'll come across a good resource. Just save it in your notes with the tag #learn #math #statistics. You can create an assortment with that combination of tags, so you don't have to dig through all the #learn tags just to find some good math resources.</p>
  <p class='w-2/3 explainer-text'>Here's another example! You want to improve your garden -- flowers and vegetables -- and don't want to forget good flowers or vegetable varieties whenever you come across them. Create a #grow #flowers assortment and maybe one day you can grow what you find.</p>
</div>

<% @assortments.each do |assortment| %>
  <div class='flex flex-row justify-center items-center w-2/3 mt-8'>
    <%= render 'assortment_preview', :assortment => assortment %>
  </div>
<% end %>