<div class='flex flex-col items-center justify-center w-full'>
  <%= render "shared/content_preview" do %>
    <div class='source-link'>
      <strong><%= link_to source.location, source.location, target: :_blank %></strong>
    </div>
    <div class='show-highlight-footer'>
      <%= link_to 'delete', source, method: :delete, data: { confirm: 'Are you sure?' } %> 
      <%= link_to 'see more from this source >', source %> 
    </div>
  <% end %>
</div>