
  <div class='flex flex-col items-center justify-center w-full'>
    <%= render "shared/content_preview" do %>
      <div class='text-green-600 font-bold text-lg'>
        <%= link_to truncate(source.location), source %> 
      </div>
    <% end %>
  </div>
