<%= render "shared/content_box" do %>
  <p><%= highlight.text %></p>
        
  <div class='time-stamp'>
    <%= highlight.created_at %>
  </div>

  <div class='flex justify-end'>
    <%= link_to 'see the highlight >', highlight %>
  </div>
  
<% end %>