<header class='header-highlight-index'>
  <h1>Sources</h1>
  <%= link_to 'New Source', new_source_path %>
</header>

    <% @sources.each do |source| %>
      <section class='highlight-box'>
        <div class='source-link'>
          <strong><%= link_to source.location, source.location, target: :_blank %></strong>
        </div>
        <div class='show-highlight-footer'>
          <%= link_to 'Show', source %> |
          <%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </section>
    <% end %>

