  <header class='flex mt-8 items-center justify-center'>
      <h1>
        <%= link_to @source.location.to_s, @source.location,  target: :_blank, class: 'text-xl text-blue-400' %>
      </h1>
      <br/>
  </header>
  
 
  <% @highlights.each do |highlight| %>
    <%= render 'source_box', :highlight => highlight  %>
  <% end %>

  