<section class="highlight-box marketing">
  <header>
    <h3 class="text-align-center no-margin-top">
      Here is a tutorial.
    </h3>
  </header>
  <p>
    The Highlighter extension you just downloaded is a separate app which supplements https://highlighter.online (the webpage you're currently on).
    The username and password you just created is used for both.
  </p>
  <p>
    So now that you've created your account, you're logged in to https://highlighter.online, but <strong>not</strong> the browser extension you just downloaded.
    You need to log in with the extension's popup in the top right corner of your browser.
    The yellow box that says "Hi".
  </p>
  <p>Once you've logged into the popup successfully, you can now save your highlights!</p>
</section>
<section class="highlight-box">
  
  <p class="no-margin-top">
  You can save a highlight by <strong>selecting the text</strong> with your cursor, <strong>right click</strong>, and choose <strong>"Save Highlight"</strong>.
  </p>
  <p>Much like you'd "highlight" text on a piece of paper, this action saves the highlight to a database so you can reference it later. You can access all of your highlights at https://highlighter.online.</p>
  <p>Those highlights will also show up in the browser extension's popup anytime you open the popup on a page where you've saved highlights.</p>
</section>

<section class="highlight-box">
  <p class="no-margin-top">Test it out with some quotes:</p>
  <blockquote>
    Writing a novel is a terrible experience, during which the hair often falls out and the teeth decay. 
    I'm always irritated by people who imply that writing fiction is an escape from reality. 
    It is a plunge into reality and it's very shocking to the system. - Flannery O'Connor
  </blockquote>
  <blockquote>
    "She wished there was some place where she could go to hum it out loud. 
    Some kind of music was too private to sing in a house cram fall of people. 
    It was funny, too, how lonesome a person could be in a crowded house." 
    - <em>The Heart Is A Lonely Hunter</em> by Carson McCullers
  </blockquote>
  <div class='text-align-center continue'>
    <%= link_to 'See My Highlights', highlights_path, :id => "button" %>
  </div>
