<section class="highlight-box box marketing">
  <header>
    <h3 class="text-align-center no-margin-top">
      Here is a tutorial.
    </h3>
  </header>

  <p>
    First, log in with the extension's popup in the top right corner of your browser.
    The yellow box that says "Hi".
  </p>
  <p>Once you've logged in successfully, you can now save your highlights! There are two ways:
  1) Select the text with your cursor, right click, and choose "Save Highlight".
  2) Select the text with your cursor and use the keyboard shortcut: cmd + shift + s for Mac
  or ctrl + shift + s for Windows.</p>

  <p>Here are some test highlights:</p>
  <blockquote>
    "Whenever I’m asked why Southern writers particularly have a penchant for writing about freaks, 
    I say it is because we are still able to recognize one." - Flannery O'Connor
  </blockquote>
  <blockquote>
    Writing a novel is a terrible experience, during which the hair often falls out and the teeth decay. 
    I'm always irritated by people who imply that writing fiction is an escape from reality. 
    It is a plunge into reality and it's very shocking to the system. - Flannery O'Connor
  </blockquote>
  <blockquote>
    "She wished there was some place where she could go to hum it out loud. 
    Some kind of music was too private to sing in a house cram fall of people. 
    It was funny, too, how lonesome a person could be in a crowded house." 
    - <em>The Heart Is A Lonely Hunter</em> by Carson McCullers
  </blockquote>
  <div class='text-align-center'>
    <%= link_to 'See My Highlights', highlights_path, :id => "button" %>
  </div>
</section>