<section class="highlight-box box marketing">
  <header>
    <h3 class="text-align-center">
      Readers, writers, forgetful academics<br>
      and the otherwise curious: rejoice!
    </h3>
  </header>

  <p>
    <strong class="underline" style="font-family: verdana">
    Highlighter
    </strong> allows you to save notable quotes 
    while reading in your web browser.
    With two easy clicks, your highlights will always 
    be available to reference whenever you need them.
  </p>
</section>

<section class="highlight-box box">
  <p>Watch the demo:</p>
</section>

  <section class="highlight-box box">
    <%= link_to 'Sign up', new_user_registration_path %> and download the browser extension.
    <p>Keep on reading!</p>
    <a href="https://forms.gle/EWhFUiKtR5QgzuRZ7" target="_blank">Request a download
  </section>