

<div class="box-container marketing-box box">
<h3 id="text-align-center">
Readers, writers, forgetful academics
<br>and the otherwise curious: rejoice!</h3>

<p class="fluid-type molten-leading">
<strong id="underline" style="font-family: verdana">Highlighter</strong> allows you to save notable quotes 
with two easy clicks while reading in your web browser.
Your highlights will always be available to reference whenever you need them.
<br>
<br>
Watch the demo:
<br>
<br>
<%= link_to 'Sign up', new_user_registration_path %> and download the browser extension.
Keep on reading!
</p>
<a href="https://forms.gle/EWhFUiKtR5QgzuRZ7" target="_blank">Request a download</p>
</div>

