<div class='flex flex-row justify-around items-center mt-4'>
  <h1 class='text-2xl font-bold'>Projects</h1>
  <%= link_to 'New Project', new_project_path, class: 'text-red-300' %>
</div>

<div class='flex flex-col items-center mt-4'>
  <p class='w-2/3 explainer-text'>A project is where you write your <span class='tags'>#new-book</span>. Writing doesn't happen within one document, but instead an entire project. With a draft, a notebook, a folder sytem, and all of your taggable content in one place, projects help you keep it all together.</p>
  <br/>
  <p class='w-2/3 explainer-text'>You can add tags to a project, so that any content with the project's tag will be included as a part of the project. The tags are like the refrigerator or pantry of your book, where all the ingredients are waiting to be prepared.</p>
  <br/>
  <p class='w-2/3 explainer-text'>For example, you have a ton of notes with the <span class='tags'>#new-book</span> tag. You can add that tag to your project and all of your <span class='tags'>#new-book</span> notes are available inside the project. It's basically your well to drawn upon, as you sculpt and tweak.</p>
  <br/>
  <p class='w-2/3 explainer-text'>All projects have a folder called Draft. Within the Draft is where you write your book. It's like the stove and oven of your book. A draft can have as many documents as you want. You can have a main document or you can split it up into chapters. It's built so you can move each piece of writing around, however you need to organize it as the project progresses.</p>
  <br/>
  <p class='w-2/3 explainer-text'>A draft also have version control, so you can delete your favorite sentences while still keeping them around. Instead of saving drafts like "draft-10-october-present-tense", you can commit your drafts to the version control and it takes care of that. When you commit, you can add your description, like "present tense attempt." If you hate the present tense attempt, you can go back to the version before this and continue working.</p>
</div>

<% @projects.each do |project| %>
  <div class='flex flex-row justify-center items-center w-2/3 mt-8'>
    <%= render 'project_preview', :project => project %>
  </div>
<% end %>