<div class='w-full'>
  <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" type="search" placeholder="search by tag">
  <% @tags.each do |tag| %>
    <span class="text-gray-400 text-xs italic"><%= tag.name %>, </span>
  <% end %>
</div>