<h1 class='text-center text-xl'>Content tagged with <%= @tag.name %></h1>

<div class='flex justify-center mt-4'>
  <ul>
    <% @tag.notes.each do |note| %>
      <div class='w-2/3'>
        <%= render 'notes/note_preview', :note => note %>
      </div>
    <% end %>
  </ul>

  <ul>
    <% @tag.highlights.each do |highlight| %>
      <li><%= link_to highlight.text, highlight_path(highlight) %></li>
    <% end %>
  </ul>
</div>