<h1>Content tagged with <%= @tag.name %></h1>

<% @tag.notes.each do |note| %>
  <%= render 'notes/note', :note => note %>
<% end %>

<ul>
  <% @tag.highlights.each do |highlight| %>
    <li><%= link_to highlight.text, highlight_path(highlight) %></li>
  <% end %>
</ul>