// Place all the styles related to the sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.source-header {
  text-align: center;
}

.time-stamp {
  text-align: center;
  font-size: 12px;
}

.source-body {
  margin-bottom: 60px;
}

.source-link {
  text-align: center;
}